--first_layer=0
--hs_dir=datasets/ChrisGoringe/fi
--cache_dir=.hfc
--hffs_cache_whole
--just_evaluate
--cast_map=cast.yaml

--model=../../models/unet/flux1-dev.sft
--img_no
--txt_no

--max_steps=1000
--eval_steps=200
--per_device_train_batch_size=1
--per_device_eval_batch_size=1
--lr_scheduler_kwargs:num_cycles=0.3
--save_dir=retrained_bigger