--first_layers=3-13
--verbose

#--default_cast = no
--stats_file   = img4000_3_13_train.yaml

--prune_map = settings.yaml
--cast_map  = settings.yaml
--train_map = settings.yaml

--hs_dir=ChrisGoringe/fi
--eval_frac = 0.2
--shuffle
--shuffle_seed=77
--cache_dir = e:/.hfc

--max_steps=1000
--eval_steps=200
--lr_scheduler_kwargs:num_cycles=0.3

--model=D:/models/unet/flux1-dev.sft
--saved_model=saved_model.safetensors
