--first_layers=0-17
--verbose
#--autocast
@cast=Q8_0

--default_cast = @cast
--stats_file   = @cast.yaml
--evaluate

--saved_model=D:/models/unet/saved_model.safetensors

#--prune_map = settings.yaml
--cast_map  = settings.yaml
#--train_map = settings.yaml

--hs_dir=ChrisGoringe/fi
--eval_frac = 1.0
--shuffle
--shuffle_seed=77
--cache_dir = e:/.hfc

--max_steps=1000
--eval_steps=200
--lr_scheduler_kwargs:num_cycles=0.3

--model=D:/models/unet/flux1-dev.sft
